<!DOCTYPE html>
<html lang="en">
<!--
	demo from angular-js-xlsx
	npm: https://www.npmjs.com/package/angular-js-xlsx
	author: @brexis Boris Koumondji
	license: MIT
-->
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- UI -->
	<link rel="stylesheet" href="css/lib/ui-uploader.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/lib/ui-demo.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/lib/ui-simple-demo.css" rel="stylesheet" />

	<!-- ngtablle -->
	<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">


	 <title>Angular Js XLS</title>
</head>
<body ng-app="MyApp">
	<div class="container">
	<h3 class="text-center">Spreadsheet to Tickets converter</h3>
		<div ng-controller="ExcelController" class="container">
<!-- 				<div class="row">
				<div class="fileinput fileinput-new input-group" data-provides="fileinput">
					<div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
					<span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><js-xls onread="read" onerror="error"></js-xls></span>
					<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
				</div>
					 <div class="col-md-2 col-md-offset-5">
					<button ng-click="createTickets(tickets)">CREATE {{numOfTickets}} TICKETS</button>
					 </div>
			</div>
-->
			<!-- D&D zone -->

			<div class="row">
				<div class="alert alert-danger  fade in" ng-if="views.invalidRow.active ">
					{{views.invalidRow.notify}}
				</div>
				<div class="alert alert-danger  fade in" ng-if="views.searchUsersError.active ">
					{{views.searchUsersError.notify}}
				</div>
				<div class="alert alert-danger  fade in" ng-if="views.createUsersError.active ">
					{{views.createUsersError.notify}}
				</div>
				<div class="alert alert-danger  fade in" ng-if="views.createTicketsError.active ">
					{{views.createTicketsError.notify}}
				</div>
				<div class="alert alert-success  fade in" ng-if="views.successCreateTickets.active ">
					{{views.successCreateTickets.notify}}
				</div>
				<div class="alert alert-success  fade in" ng-if="views.successCreateUser.active ">
					{{views.successCreateUser.notify}}
				</div>
				<div class="alert alert-warning  fade in" ng-if="views.shouldCreateUser.active ">
					{{views.shouldCreateUser.notify}}
				</div>
				<div class="alert alert-warning  fade in" ng-if="views.noUsersToCreate.active ">
					{{views.noUsersToCreate.notify}}
				</div>
				<div class="alert alert-warning  fade in" ng-if="views.noTicketsToCreate.active ">
					{{views.noTicketsToCreate.notify}}
				</div>
				<div class="alert alert-info  fade in" >
					<ul>
						<li>Harus ada kolom Email, Subject, dan Body di row teratas, kolom Name dan Role tidak wajib, tapi berguna ketika harus membuat user baru.</li>
					</ul>
				</div>
				 <div dropzone onread="read" onerror="error" id="drag-and-drop-zone" class="uploader">
					<div>{{views.namefile}}</div>
					<div class="browser">
						<label>
<!-- 							 <input type="file" name="files" multiple="multiple" title='Click to add Files'>
 -->							<!--  <js-xls onread="read" onerror="error"></js-xls> -->
							<div ng-click="createManyUsers()" >
								 <span>Create {{rows_meta.numOfNonmember}} users</span>
							</div>
						  </label>
						<label>
<!-- 							 <input type="file" name="files" multiple="multiple" title='Click to add Files'>
 -->							<!--  <js-xls onread="read" onerror="error"></js-xls> -->
							<div ng-click="createTickets()">
								 <span>Create {{tickets.length}} tickets</span>
							</div>
						  </label>
					</div>
				</div>
			</div>

			<table class="table table-striped" ng-if="user_ticket_rows.length > 0">
				<thead>
					<tr>
						<th>Row</th>
						<th>Id</th>
						<th>Name</th>
						<th>Role</th>
						<th>Email*</th>
						<th>Subject*</th>
						<th>Body*</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{'warning': row.__exist__ == false, 'danger': validateRow(row) == false}" data-ng-repeat="row in user_ticket_rows">
						<td>{{row.__rowNum__}}</td>
						<td>{{row.Id ? row.Id : ""}}</td>
						<td>{{row.Name}}</td>
						<td>{{row.Role}}</td>
						<td>{{row.Email}}</td>
						<td>{{row.Subject}}</td>
						<td>{{row.Body}}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- Latest compiled and minified JavaScript
<!-- 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script> -->
	<script type="text/javascript" src="jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--<script type="text/javascript" src="xlsx.core.min.js"></script>-->
	<script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
	<script type="text/javascript" src="xlsx.full.min.js"></script>
	<script type="text/javascript" src="angular-js-xlsx.js"></script>

	<!-- UI -->
	<script type="text/javascript" src="js/lib/ui-demo.js"></script>
    	<script type="text/javascript" src="js/lib/dmuploader.js"></script>

	<!-- ngtable -->
    	<script type="text/javascript" src="js/lib/hashtable.js"></script>


	<script type="text/javascript" src="main.js"></script>
</body>
</html>
